
BitmapConverter/.vs/BitmapConverter/DesignTimeBuild/.dtbcache.v2
BitmapConverter/.vs/BitmapConverter/FileContentIndex/286f8ff6-09f0-40ae-80da-a145e08c0e0f.vsidx
BitmapConverter/.vs/BitmapConverter/FileContentIndex/87bdb66d-a293-45c9-89b7-28bd0a57172c.vsidx
BitmapConverter/.vs/BitmapConverter/FileContentIndex/ad7a0104-63fd-4b78-a52e-1f3d18730d01.vsidx
BitmapConverter/.vs/BitmapConverter/FileContentIndex/ea9475bd-6110-4975-906a-3b4dbdd390df.vsidx
BitmapConverter/.vs/BitmapConverter/FileContentIndex/read.lock
BitmapConverter/.vs/BitmapConverter/v17/.futdcache.v2
BitmapConverter/.vs/ProjectEvaluation/bitmapconverter.metadata.v7.bin
BitmapConverter/.vs/ProjectEvaluation/bitmapconverter.projects.v7.bin
BitmapConverter/bin/
BitmapConverter/obj/
*.vsidx
