<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitmapConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BitmapConverter.Properties.Settings>
            <setting name="OutputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Inverted" serializeAs="String">
                <value>False</value>
            </setting>
        </BitmapConverter.Properties.Settings>
    </userSettings>
</configuration>